@tailwind base;
:root {
  --primary: gray;
  --secondary: white;
}
/* Firefox */
* {
  scrollbar-width: 0;
}

@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.app {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5px;
  max-height: 90vh;
}
